<% include partials/header.ejs %>

<div class="container">
    <div class="row indexRow">
        <div class="col indexCol">
            <img class="indexIcon" src=<%= data[0].profile_image %>>
        </div>
        <div class="col indexCol"><h4 class="indexProfileName"><%= data[0].username %></h4></div>
    </div>
    <div class="row indexRow">
        <div class="col indexCol">
            <img class="indexIcon" src=<%= data[1].profile_image %>>
        </div>
        <div class="col indexCol"><h4 class="indexProfileName"><%= data[1].username %></h4></div>
    </div>
    <div class="row indexRow">
        <div class="col indexCol">
            <img class="indexIcon" src=<%= data[2].profile_image %>>
        </div>
        <div class="col indexCol"><h4 class="indexProfileName"><%= data[2].username %></h4></div>
    </div>
</div>
</body>
</html>